/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "iranian-sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background: url(backgpattern/dust-100s-1084px.svg);
}

@font-face {
  font-family: "Yekan";
  src: url(YekanV3.0/Yekan.ttf) format("truetype");
}
@font-face {
  font-family: "iranian-Sans";
  src: url(A-Iranian-Sans/Iranian\ Sans.ttf) format(truetype);
}

.header {
  height: 6.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(46, 45, 54);
  background-color: linear-gradient(
    90deg,
    rgba(46, 45, 54, 1) 0%,
    rgba(53, 46, 70, 1) 49%,
    rgba(60, 59, 68, 1) 100%
  ); */

  color: #fff;
  background-color: #091827;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.header-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item li {
  display: inline-block;
  padding: 1rem 1.1rem;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.nav-item li a {
  text-decoration: none;
  color: inherit;
}
.nav-item li:hover {
  background-color: #41d3bd;
  border-radius: 20px;
  color: #fff;
}
.header-brand {
  line-height: 1.6;
  color: rgb(146, 211, 133);
  text-shadow: #fff;
}
.logo-fa {
  font-family: "Iranian-Sans", tahoma, aria;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.logo-en {
  font-family: sans-serif, Arial;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

form.search-form input[type="text"] {
  padding: 3px;
  font-size: 14px;
  border: 1px solid grey;
  float: right;
  width: 80%;
  background: #f1f1f1;
  text-align: right;
}

form.search-form button {
  float: left;
  width: 20%;
  padding: 2px;
  background: #41d3bd;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  transition: 0.3s;
}

form.search-form button:hover {
  background: #269c8b;
}

form.search-form::after {
  content: "";
  clear: both;
  display: table;
}

/* 
.search form input[type="text"] {
  border-radius: 5px;
  padding: 0.2rem 0;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 3px solid #ccc;
  outline: none;
}
.search form input[type="text"]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}
.search-btn {
  height: 1.4rem;
  color: #41d3bd;
} */

.top-6--box {
  background-color: rgb(240, 240, 240);
  width: 85%;
  margin: 0 auto;
  padding: 1rem 0;
  border-radius: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.top-6--tracks {
  padding: 0.5rem 1rem 1rem 1rem;

  gap: 1.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}
.top-6--track {
  text-align: center;
  /* background-color: #a98dc0; */
  background-color: #41d3bd;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.top-6--track p {
  font-family: "Yekan", sans-serif;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  list-style-type: none;
  color: rgb(75, 55, 75);
}
a:-webkit-any-link {
  text-decoration: none;
}
.top-6--track:hover {
  background-color: #269c8b;

  /* background-color: #91c08d;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px #91c08d;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}

.top-6--track img {
  width: 100%;
  border-radius: 2px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

/* .top-6--header {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
} */

/* .top-6--header {
  width: 98%;
  margin: 0 auto;
  padding: 5rem 0;

  background-image: linear-gradient(135deg, #faf9f900 10%, #f5cc85 80%),
    url(img/hanny-naibaho-aWXVxy8BSzc-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  line-height: 1.8;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} */

/* .top-6--txt {
  color: #555555;
  font-family: "Yekan", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
} */

/* .top-6--txt2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  color: rgb(126, 95, 184);
} */

.main-div {
  width: 85%;

  margin: 1rem auto 0 auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.right {
  background-color: #fff;
  width: 22%;
  border-radius: 2%;
}
.left {
  width: 24%;
}
.center {
  width: 54%;
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-size: 9rem;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}
.left .famous-track img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid rgb(190, 236, 230);
}
.left-famous {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}
.left-famous--h {
  text-align: center;
  font-weight: 800;
  font-size: 1.8rem;
  padding: 10px 0;
  font-family: "Yekan";
  background-color: #41d3bd;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.famous-track .a:hover {
  background-color: rgb(221, 220, 220);
}
.famous-track .a {
  transition: all 0.3s;
  background-color: rgb(233, 231, 231);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.famous-ul {
  list-style-type: none;
}

.famous-track .a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  padding: 0.3rem 0;
}

.famous-track .a p {
  display: inline-block;
  color: #555;
  font-family: "Iranian-Sans", "Yekan", serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.famous-track .a {
  padding: 0.7rem 0;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10.5%;
}

.right-new {
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}
.right-new--h {
  text-align: center;
  font-weight: 800;
  font-size: 1.8rem;
  padding: 10px 0;
  font-family: "Yekan";
  background-color: #41d3bd;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.new-ul {
  list-style-type: none;
  background-color: rgb(63, 45, 63);
  /* background-color: rgb(43, 22, 43); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0;
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
}

.new-tracks .new-track p {
  display: inline-block;
  color: rgb(228, 226, 226);
  font-family: "Iranian-Sans", "Yekan", serif;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.2s;
}
.new-tracks {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(150, 148, 148, 0.3) 0px 3px 7px -3px;
}
.new-tracks .new-track {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10%;
  padding: 0.7rem 0;
}

.left-genres {
  margin-top: 10%;
}
.left-genres--ul {
  list-style-type: none;
  display: flex;
  background-color: rgba(211, 207, 207, 0.781);
  border-radius: 1%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
.left-genres--ul li {
  padding: 2.5rem;
  border-radius: 20px;
}
.left-genres--a {
  color: #fff;
}

.first-genre {
  background-color: #269c8b;
}
.second-genre {
  background-color: #0066cc;
  text-align: right;
}
.third-genre {
  background-color: rgb(255, 80, 118);
}
.fourth-genre {
  background-color: rgb(12, 236, 236);
  text-align: right;
}
.fifth-genre {
  background-color: #ff8c00;
}
.sixth-genre {
  background-color: #9400d3;
  text-align: right;
}
.seventh-genre {
  background-color: #dfbf0a;
}
.music-genres-h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.4rem;
  font-weight: 400;
}

.center-song {
  width: 88%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: 2rem; */
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.first-center-song {
  border-top: 3px solid rgb(63, 45, 63);
  border-radius: 4px;
}
.last-center-song {
  border-bottom: 3px solid rgb(63, 45, 63);
  border-radius: 1%;
}

.center-song .center-song-fname {
  font-family: "Yekan", arial;
  font-size: 1.8rem;
  text-align: center;
  color: rgb(39, 38, 38);
  padding-bottom: 1.2rem;
}
.center-song .center-song-ename {
  font-family: sans-serif, arial;
  font-size: 1.4rem;
  letter-spacing: 0.8;
  font-weight: 400;
  text-align: center;
  color: #000;
  padding-bottom: 3px;
}

.center-song-img {
  max-width: 80%;
  height: auto;
  border-radius: 2px;
  display: flex;
  align-self: center;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.song-dl-date {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.song-dl-btn {
  font-family: "Yekan";
  font-size: 1.5rem;
  padding: 1px 15px;
  color: #fff;
  background-color: #0066cc;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transition: 500ms;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.song-dl-btn:hover {
  background-color: #0453a3;
}
.song-date {
  display: flex;
  align-items: center;
}
.song-date-number {
  font-size: 0.8rem;
  padding: 3px 5px 0 0;
  font-weight: 600;
}
.song-date-icon {
  height: 18px;
  width: 18px;
}
.footer {
  background-color: #555;
  height: 5rem;
}
